<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="oneLineException" converterClass="me.java.logging.OneLineExceptionConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] [%logger{1}] [%thread{1}] %msg %oneLineException %n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>